<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">	
    
    <br>
        <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Update Status Pemeriksaan
                    </div>
                    <div class="card-body">
                        <form th:action="@{/lab/pemeriksaan/ubah}" th:object="${pemeriksaan}" method="POST">
                            <input type="hidden" name="id" th:value="${pemeriksaan.id}" />
                            Nama <br>
                            <input type="text" name="pasien" th:value="${pemeriksaan.pasien.id}" readonly = "readonly"/>
                            <br>Tanggal Pengajuan <br>
                            <input type="text" name="tanggalPengajuan" th:value="${pemeriksaan.tanggalPengajuan}" readonly = "readonly"/>
                           
                            <input type="hidden" name="tanggalPemeriksaan" th:value="${pemeriksaan.tanggalPemeriksaan}" />
                            <input type="hidden" name="jenis" th:value="${pemeriksaan.jenis.id}" />
                            <input type="hidden" name="jadwal" th:value="${pemeriksaan.jadwal.id}" />
                       
                            <br>Status <br>
                           
                           <div class="row form-group">
                             
                               <select  name="status">
                                	<option  th:value=1  >Menunggu Persetujuan</option>
                                	<option  th:value=2  >Diproses</option>
                                	<option  th:value=3  >Selesai</option>
                                </select>
                            </div>
                            <br>Hasil<br>
                            <input type="text" name="hasil" th:value="${pemeriksaan.hasil}" />
                          	
                            <br><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
   
      
        
          
      
       
       
        <br>
      
    </div>
</body>

</html>