<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
    <br>
    <h1 align="center" th:text="'SELAMAT DATANG DI SiLabor ' "></h1>
    <h3 align="center" >================================= </h3>
    <br>
    <h2 align="center" >Kelompok 2 APAP Ekstensi </h2>
    <br>
    <h3 align="center" >================================= </h3>
    <h3 align="center" >Al Faruqi Hasnul </h3>
    <h3 align="center" >Amalia Destiana </h3>
    <h3 align="center" >Evi Septiana </h3>
    <h3 align="center" >Faris Abdurrahman</h3>
    <h3 align="center" >Muhamad Ibnu Yusufadhi </h3>
    <h3 align="center" >Nadia Ulfah Nurul Izati</h3>
    <h3 align="center" >Riyadi Setiawan </h3>
    <h3 align="center" >Sari Rahayu </h3>
    <h3 align="center" >================================= </h3>
     
        
        
   
      
        
          
      
       
       
        <br>
      
    </div>
</body>

</html>