<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Berhasil Mengubah Jadwal</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
    
    <br>
    <h2 align="center" >Jadwal Jaga Berhasil Diubah Menjadi :</h2>
        
    <div class="card-body">
		<table border="1" align="center">
			<thead align="center">
			<tr>
			<th>Tanggal</th>
			<th>Jam Mulai</th>
			<th>Jam Selesai</th>
			<th>Nama Staff</th>
			
			</tr>
			</thead>
			<tbody>
			<tr>
			<td align ="center" th:text="${jadwalJaga.tanggal}"></td>
			<td align ="center" th:text="${jadwalJaga.waktuMulai}"></td>
			<td align ="center" th:text="${jadwalJaga.waktuSelesai}"></td>
			<td align ="center" th:text="${jadwalJaga.idStaff.nama}"></td>
		
			
			
			</tr>
	</tbody>
		</table>
		</div>
		
   
      
        
          
      
       
       
        <br>
      
    </div>
</body>

</html>