<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Manajemen Akun</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
    
  
    <br>
    <div>
        <form th:action="@{/user/tambah-user}" method="get">
        	<button type="submit" class="btn btn-primary">Tambah User Baru</button>
        	</form>
        </div>
    
    <br>
        <div>
        <form th:action="@{/user/updatePassword}" method="get">
        	<button type="submit" class="btn btn-primary">Ubah Password</button>
        	</form>
        </div>
        
        
   
      
        
          
      
       
       
        <br>
      
    </div>
</body>

</html>