<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tambah Jadwal</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
    
    <h2 th:text="'Masukkan Jadwal ' "></h2>
   
  
       <div class="container-fluid" >
        <br>
        <div class="row">
            <div class="col-md-8">
                   
                        <form  th:action="@{/lab/jadwal-jaga/tambah}" th:object="${jadwalJaga}" method="post">
                           

                            <table > 
                                <thead>
                                    <tr>
                                        <th style="text-align: center">Tanggal</th>
                                        <th style="text-align: center">Waktu Mulai</th>
                                        <th style="text-align: center">Waktu Selesai</th>
                                        <th style="text-align: center">Nama Staff</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td>
                                          <input type="Date" name="tanggal" th:attr="min=${tanggalSekarang}">
                                        </td>
                                        <td>
                                         <input type="text" name="wmulai">
                                        </td>
                                        <td>
                                           <input type="text" name="wselesai">
                                        </td>
                                        <td>
                                            <select name="staffId">
                               					<option th:value=0>Pilih Staff</option>
                                				<option th:each="staff : ${staffList}" th:value="${staff.id}" th:text="${staff.nama}" ></option>
                                			</select>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
      
   
      
        
          
      
       
       
        <br>
      
    </div>
</body>

</html>